<footer id="footer">
  <div class="footer-left">
    🄯 dlmayhem {{ now.Format "2006" }} {{ if .Site.Copyright }} {{ print .Site.Copyright }} {{ else }} {{ print .Site.Title }} {{ end }}
  </div>
  <div class="footer-right">
    Happy hacking!
  </div>
</footer>
